@{
ViewData["Title"] = "Addition Level Three";
}
@using Learn.Models
@model FractionCard[]

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1 d-xlg-none"></div>
        <button class="btn btn-secondary btn-lg show-Tips text-center">
            <i class="far fa-lightbulb mr-2"></i>Show Tips<i id="tipShow" class="fas fa-caret-down ml-4"></i>
        </button>
        <div class="col-sm-3 justify-content-end mt-md-4 mt-sm-2 tipCol">
            <div class="tips">
                <div class="row align-items-end">
                    <h1 class="text-warning ml-3"><i class="fas fa-star text-warning mr-3"></i>Correct:</h1>
                    <h1 class="text-warning ml-3" id="score">0</h1>
                </div>
                <p class="mb-5">
                    <h5><i class="far fa-lightbulb cyan-text"></i> &nbsp;Tip #1:</h5> Adding fractions requires several steps. It's best to use a pencil and paper to complete these problems.
                </p>
                <p class="mb-5">
                    <h5><i class="far fa-lightbulb cyan-text"></i> &nbsp;Tip #2:</h5> <strong>To ADD fractions, </strong> first make the denominator (or divisor) the same on both. To do this find the <em><strong>least common multiple</strong></em> of both denominators.
                </p>
                <p class="mb-5">
                    <h5><i class="far fa-lightbulb cyan-text"></i> &nbsp;Tip #3:</h5> Then <em>multiply</em> both the numerator (dividend) and the denominator (divisor) of <strong>the fraction containing the <em>smaller</em> denominator</strong> by the LCC (least common multiple) you found in Tip #2. <strong>Hint: this is like the opposite of reducing or simplifying fractions.</strong>
                </p>
                <p class="mb-5">
                    <h5><i class="far fa-lightbulb cyan-text"></i> &nbsp;Tip #4:</h5> Once both fractions have the same denominator, simply add the <em>numerators</em> of both fractions. <strong>Note: when adding fractions, the common denominator stays the <em>same.</em></strong>
                </p>
                <p class="mb-5">
                    <h5><i class="far fa-lightbulb cyan-text"></i> &nbsp;Tip #5:</h5> Finally, reduce this fraction sum. The final answer is the <em>simplified (or reduced) fraction result</em> of <strong>the sum of both numerators <em>over</em> their common denominator </strong> converted to a whole number fraction.
                </p>
            </div>
        </div>
        <div class="col-sm-6">
            <h4 class="text-center instructions my-4">
                Add the fractions together. Tap to rotate the cube and see the solutions.
            </h4>
            <div class="row justify-content-center remove">
                @foreach (var item in Model)
                {
                    <div class="scene inner-shadow">
                        <img class="@("hide"+item.Id)" id="@("image"+item.Id)" src="~/img/dancing.gif" />
                        <div class="cube" id="@item.Id">
                            <div class="cube__face cube__face--front align-items-center">
                                <p class="fractionAdd">@item.First</p>
                                <p class="mx-3 wholeStyle">+</p>
                                <p class="fractionAdd">@item.Second</p>
                                <p class="labeltr">Question</p>
                            </div>
                            <div class="cube__face cube__face--right align-items-center">
                                <span class="fractionAdd">
                                    @item.Answer
                                </span>
                                <p class="labeltr">Answer (Unsimplified)</p>
                            </div>
                            <div class="cube__face cube__face--back align-items-center">
                                <p class="wholeStyle">@item.AnswerWhole</p>
                                <p class="fraction">@item.AnswerTwo</p>
                                <p class="labeltr">Answer (Simplified)</p>
                            </div>
                            <div class="cube__face cube__face--left" style="display:block">
                                <h5 class="text-center mt-4">Summary:</h5>
                                <div class="row justify-content-center mt-3">
                                    <p class="fractionAnswer">@item.First</p>
                                    <p class="operands">+</p>
                                    <p class="fractionAnswer">@item.Second</p>
                                    <p class="operands">=</p>
                                    <p class="fractionAnswer">@item.Answer</p>
                                </div>
                                <div class="row justify-content-center mt-2">
                                    <p class="fractionAnswer">@item.Answer</p>
                                    <p class="operands">=</p>
                                    <p class="whole-answer">@item.AnswerWhole</p>
                                    <p class="fractionAnswer">@item.AnswerTwo</p>
                                </div>
                            </div>
                            <div class="cube__face cube__face--top align-items-center">
                                <p class="cubeText">
                                    How did you do?
                                </p>
                                <p class="iconStyle">
                                    <button id="@("delete"+item.Id)" class="btn btn-success" role="button">
                                        <i class="fas fa-thumbs-up"></i>
                                    </button>
                                    <button class="btn btn-danger button-down" role="button">
                                        <i class="fas fa-thumbs-down"></i>
                                    </button>
                                </p>
                            </div>
                            <div class="cube__face cube__face--bottom align-items-center">
                                <p class="cubeText">Try Again?</p>
                                <i class="redoStyle fa fa-redo"></i>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="navButton-wrapper">
                <a href="/Fractions/AddLevelTwo" class="btn btn-secondary btn-lg btn-box-shadow"><i class="fas fa-arrow-left mr-2"></i>Previous</a>
                <button disabled href="/" class="btn btn-secondary btn-lg btn-box-shadow">Next<i class="fas fa-arrow-right ml-2"></i></button>
            </div>
        </div>
    </div>
</div>