@{
    ViewData["Title"] = "Multiply Level Two";
}
@using Learn.Models
@model FractionCard[]

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1 d-xlg-none"></div>
        <button class="btn btn-secondary btn-lg show-Tips text-center">
            <i class="far fa-lightbulb mr-2"></i>Show Tips<i id="tipShow" class="fas fa-caret-down ml-4"></i>
        </button>
        <div class="col-sm-3 justify-content-end mt-md-4 mt-sm-2 tipCol">
            <div class="tips">
                <div class="row align-items-end">
                    <h1 class="text-warning ml-3"><i class="fas fa-star text-warning mr-3"></i>Correct:</h1>
                    <h1 class="text-warning ml-3" id="score">0</h1>
                </div>
                <p class="mb-5">
                    <h5><i class="far fa-lightbulb cyan-text"></i> &nbsp;Tip #1:</h5> Any number multiplied by 1 will always equal
                    that number. For example, 6 x 1 = <strong>6</strong>.
                </p>
                <p class="mb-5">
                    <h5><i class="far fa-lightbulb cyan-text"></i> &nbsp;Tip #2:</h5> Any number multiplied by 2 will always equal
                    that number plus itself. For example, 6 x 2 = <strong>6 + 6</strong>, which equals <strong>12</strong>.
                </p>
                <p class="mb-5">
                    <h5><i class="far fa-lightbulb cyan-text"></i> &nbsp;Tip #3:</h5> <strong> To MULTIPLY fractions</strong>, start by multiplying the first dividend and the second dividend (dividend is the top number).<strong> The product of dividends will be the <em>dividend</em> of your fraction answer.</strong>
                </p>
                <p class="mb-5">
                    <h5><i class="far fa-lightbulb cyan-text"></i> &nbsp;Tip #4:</h5> Next multiply the first divisor and the second divisor (divisor is the bottom number).<strong> The product of divisors will be the <em>divisor</em> of your fraction answer.</strong>
                </p>
                <p class="mb-5">
                    <h5><i class="far fa-lightbulb cyan-text"></i> &nbsp;Tip #5:</h5> Finally, reduce this fraction. The final answer is the <em>simplified (or reduced) fraction result</em> of <strong>the product of dividends <em>divided by</em> the product of divisors.</strong>
                </p>
                <p class="mb-5">
                    <h5><i class="far fa-lightbulb cyan-text"></i> &nbsp;Tip #6:</h5> <strong>NOTE:</strong> The computer fraction calculator will automatically reduce the fraction part of the way for you. <em>You'll see this partially reduced fraction in the Answer (Unsimplified) part of the answer cube.</em> It's your job to show the answer (fully simplified) by including whole number values (if applicable).
                </p>
                <p class="mb-5">
                    <h5><i class="far fa-lightbulb cyan-text"></i> &nbsp;Tip #7:</h5> <strong>Hint:</strong> It's ok to <strong>memorize</strong> single
                    digit multiples. You will use these types of <strong>simple</strong> calculations to perform more
                    <strong>complex</strong> calculations later.
                </p>
            </div>
        </div>
        <div class="col-sm-6">
            <h4 class="text-center instructions my-4">
                Multiply the fractions. Tap to rotate the cube and see the solutions.
            </h4>
            <div class="row justify-content-center remove">
                @foreach (var item in Model)
                {
                    <div class="scene inner-shadow">
                        <img class="@("hide"+item.Id)" id="@("image"+item.Id)" src="~/img/dancing.gif" />
                        <div class="cube" id="@item.Id">
                            <div class="cube__face cube__face--front align-items-center">
                                <p class="fractionAdd">@item.First</p>
                                <p class="mx-3 wholeStyle">x</p>
                                <p class="fractionAdd">@item.Second</p>
                                <p class="labeltr">Question</p>
                            </div>
                            <div class="cube__face cube__face--right align-items-center">
                                <span class="fractionAdd">
                                    @item.Answer
                                </span>
                                <p class="labeltr">Answer (Unsimplified)</p>
                            </div>
                            <div class="cube__face cube__face--back align-items-center">
                                <p class="wholeStyle">@item.AnswerWhole</p>
                                <p class="fraction">@item.AnswerTwo</p>
                                <p class="labeltr">Answer (Simplified)</p>
                            </div>
                            <div class="cube__face cube__face--left" style="display:block">
                                <h5 class="text-center mt-4">Summary:</h5>
                                <div class="row justify-content-center mt-3">
                                    <p class="fractionAnswer">@item.First</p>
                                    <p class="operands">x</p>
                                    <p class="fractionAnswer">@item.Second</p>
                                    <p class="operands">=</p>
                                    <p class="fractionAnswer">@item.Answer</p>
                                </div>
                                <div class="row justify-content-center mt-2">
                                    <p class="fractionAnswer">@item.Answer</p>
                                    <p class="operands">=</p>
                                    <p class="whole-answer">@item.AnswerWhole</p>
                                    <p class="fractionAnswer">@item.AnswerTwo</p>
                                </div>
                            </div>
                            <div class="cube__face cube__face--top align-items-center">
                                <p class="cubeText">
                                    How did you do?
                                </p>
                                <p class="iconStyle">
                                    <button id="@("delete"+item.Id)" class="btn btn-success" role="button">
                                        <i class="fas fa-thumbs-up"></i>
                                    </button>
                                    <button class="btn btn-danger button-down" role="button">
                                        <i class="fas fa-thumbs-down"></i>
                                    </button>
                                </p>
                            </div>
                            <div class="cube__face cube__face--bottom align-items-center">
                                <p class="cubeText">Try Again?</p>
                                <i class="redoStyle fa fa-redo"></i>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="navButton-wrapper">
                <a href="/Fractions/MultiplyLevelOne" class="btn btn-secondary btn-lg">
                        <i class="fas fa-arrow-left mr-2"></i>Previous
                </a>
                <a href="/Fractions/MultiplyLevelThree" class="btn btn-secondary btn-lg">
                        Next<i class="fas fa-arrow-right ml-2"></i>
                </a>
            </div>
        </div>
    </div>
</div>